<!DOCTYPE html>
<html>
<head>
    <title>Add Driver</title>
</head>
<body>

<h1>Add Driver</h1>

<form action="/add-drivers" method="post">

    <label>License Number</label><br>
    <input type="text" name="licenseNumber"><br><br>

    <label>Phone Number</label><br>
    <input type="text" name="phoneNumber"><br><br>

    <button type="submit">Save Driver</button>

</form>

</body>
</html>