<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TigerBoard | Student-User</title>
</head>
<body>
    <h2 style="text-decoration: underline">Student Table</h2>
    <table border="1">
        <!--header names-->

        <thead>
        <tr>
            <th>Student ID</th>
            <th>FName</th>
            <th>LName</th>
            <th>Password Hash</th>
            <th>Commute Plan</th>
            <th>Location</th>
        </tr>
        </thead>

        <tbody>

        {{#StdList}}
            <tr>
                <td>{{id}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.passwordHash}}</td>
                <td>{{commutePlan}}</td>
                <td>{{location}}</td>
            </tr>
        {{/StdList}}

        </tbody>

    </table>

    <br>

    <!-- Div and Buttons -  To return to home page and redirect to add-students page-->
    <div style="display: flex; gap: 1rem;">
        <a href="index.html">
            <button type="button">Home Page</button>
        </a>

        <a href="/students/add">
            <button type="button">Add more</button>
        </a>
    </div>

</body>
</html>